# Environment variables
.env

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# mypy / pytest / coverage
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage
*.cover

# OS
.DS_Store
Thumbs.db
